@font-face {
    font-family: 'TradeGothicLTStdBdCn20';
    src: url('fonts/tradegothicltstdbdcn20-webfont.eot');
    src: url('fonts/tradegothicltstdbdcn20-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothicltstdbdcn20-webfont.woff') format('woff'),
         url('fonts/tradegothicltstdbdcn20-webfont.ttf') format('truetype'),
         url('fonts/tradegothicltstdbdcn20-webfont.svg#trade_gothic_lt_stdBdCnno.20') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicLTStdCn18';
    src: url('fonts/tradegothicltstdcn18-webfont.eot');
    src: url('fonts/tradegothicltstdcn18-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothicltstdcn18-webfont.woff') format('woff'),
         url('fonts/tradegothicltstdcn18-webfont.ttf') format('truetype'),
         url('fonts/tradegothicltstdcn18-webfont.svg#trade_gothic_lt_stdCnno.18') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicLTStdCn18Obl';
    src: url('fonts/tradegothicltstdcn18obl-webfont.eot');
    src: url('fonts/tradegothicltstdcn18obl-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothicltstdcn18obl-webfont.woff') format('woff'),
         url('fonts/tradegothicltstdcn18obl-webfont.ttf') format('truetype'),
         url('fonts/tradegothicltstdcn18obl-webfont.svg#trade_gothic_lt_stdCnno.18Ob') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicLTStdBd';
    src: url('fonts/tradegothicltstdbold-webfont.eot');
    src: url('fonts/tradegothicltstdbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothicltstdbold-webfont.woff') format('woff'),
         url('fonts/tradegothicltstdbold-webfont.ttf') format('truetype'),
         url('fonts/tradegothicltstdbold-webfont.svg#trade_gothic_lt_stdbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicLTStdBdCn20Obl';
    src: url('fonts/tradegothicltstdbdcn20obl-webfont.eot');
    src: url('fonts/tradegothicltstdbdcn20obl-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothicltstdbdcn20obl-webfont.woff') format('woff'),
         url('fonts/tradegothicltstdbdcn20obl-webfont.ttf') format('truetype'),
         url('fonts/tradegothicltstdbdcn20obl-webfont.svg#trade_gothic_lt_stBdCnno.20Ob') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicLTStd';
    src: url('fonts/tradegothicltstd-webfont.eot');
    src: url('fonts/tradegothicltstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothicltstd-webfont.woff') format('woff'),
         url('fonts/tradegothicltstd-webfont.ttf') format('truetype'),
         url('fonts/tradegothicltstd-webfont.svg#trade_gothic_lt_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}