/************************\
	 GLOBAL STYLES
\************************/

$questrial: 'Questrial', arial, helvetica, sans-serif;
$lato: 'Lato', sans-serif;

//dont forget to remove unused 
$light: 300;
$reg: 400;
$bold: 700;

//$blue: #005B90;
$blue-lighter: #57A0D1;
$blue-light: #2484BC;
$blue: #265B8D;
$blue-dark: #15304A;
$yellow: #FFBF2E;
$yellow-button-hover: #e6a100;
$gray-light: #E3E3E3;
$gray: #767676;


* {
	margin: 0;
	padding: 0;
	outline: 0;
}

html {
	font-size: 14px;
	color: $gray;
}

//span, 
a,
p {
	font-family: $lato; 
	font-size: 1rem;
}

a {
	color: $blue-lighter;
	font-weight: $reg;
}

p {
	color: $gray;
	line-height: 1.5rem;
	line-height: 1.5;
	margin-bottom: 15px;
	font-weight: $light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $questrial; 
	font-weight: $light;
	margin: 15px auto;
	letter-spacing: 0.1px;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	//font-weight: $reg;
}

button,
.button {
	background-color: $yellow;
	font-family: $lato; 
	font-weight: $reg;
	color: #fff;
	border: 0;
	border-radius: 3px;
	padding: 7px 13px;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0 12px;
	transition: all 0.3s;
}
button:hover,
.button:hover {
	background-color: $yellow-button-hover;
}

button.blue,
.button.blue {
	background-color: $blue-lighter;
}

button.blue:hover,
.button.blue:hover {
	background-color: $blue-light;	
}

input,
textarea {
	font-family: $lato; 
	font-weight: $reg;
	border: 0;
	border-radius: 3px;
	padding: 10px 6%;

}

.white-text {
	color: #fff;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	span, 
	p {
		color: #fff;
	}
}

.blue-text {
	color: $blue-light;
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	span, 
	p {
		color: $blue-light;
	}
}

.highlight {
	line-height: 44px;
	padding: 6px 10px;
}

.highlight.blue {
	background-color: $blue;
}

.accordion-toggle {
	cursor: pointer;
	margin: 5px 0px;
}

.accordion-toggle:after {
	float: right;
	font-family: FontAwesome;
	content: "\f0d7";
}

.accordion-content {
	display: none;
}

.accordion-content.default {
	display: block;
}

.equal-vert-height-container .shell {
	display: flex;
	align-items: stretch;
}

/*****  GET HELP NOW FORM  *****/

.form.get-help-now {
	input.field, 
	textarea {
		width: 88%;
		padding: 10px 6%;
	}
}

.form.get-help-now {
	height: 100%;

	form {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		height: 100%;

		.message-field {
			flex-grow: 2;
			position: relative;

				textarea {
				height: 84%;
				position: absolute;
				width: 84%;
			}
		}

		.phone-email-field {
			display: flex;

			input:nth-child(1) {
				margin: 10px 10px 10px 0;
			}

			input:nth-child(2) {
				margin: 10px 0 10px 10px;
			}
		}
	}
}


/*****  FILTERED PRACTICE AREAS  *****/

#filtered-practice-areas {

	.button-group {

		button {
			background-color: transparent;
			color: $gray;
			font-size: 1rem;
			text-transform: capitalize;
		}

		button.is-checked {
			color: $blue-light;
		}
	}
}

.practice-areas {
	padding: 60px 0;
	text-align: center;
}

/*****  TESTIMONIALS  *****/

.testimonials {
	text-align: center;
	padding: 60px 0;
}


/*****  FOOTER  *****/

#footer {
	
}

.footer-top { 
	background-color: $blue;

	p,
	a {
		font-size: 1rem;
		line-height: 22px;
	}

	ul {
		list-style: none;
		clear: both;

		li {
			width: 33%;
			float: left;

			:last-child {
				clear: both;
			}
		}
	}
}

.social-media {
	
	.fa-circle {
		color: $blue-light;
	}
}

.footer-bottom { 
	background-color: $blue-dark;
	text-align: center;

	p {
		font-size: 0.8rem;
		line-height: 1.3rem;
		line-height: 1.3;
	}
}

//3rd party style overwrites
.liveChatFloatingButtonTop {
	bottom: 0 !important;
	top: auto !important;
	display: none !important;
}

.liveChatFloatingButtonSpacer {
	display: none;
}