/* Tiny Carousel */
#logo-carousel,
#testimonial-slider,
#our-firm-slider {
    height: 1%;
    overflow: hidden;
    position: relative;
    padding: 10px 50px 10px;

    .viewport {
        height: 125px;
        overflow: hidden;
        position: relative;
    }

    .disable {
        visibility: hidden;
    }

    .overview {

        li {
            float: left;
            margin: 0 20px 0 0;
            padding: 1px;
            height: 121px;
            width: 282px;
            text-align: center;

            img {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }        
    }
}

#logo-carousel {

    .buttons {
        display: none;
    }

    .overview {
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        width: 286px;
        left: 0;
        top: 0; 
    }
}


#testimonial-slider {
    margin-bottom: 30px;

    .overview {
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        width: 660px;
        left: 0;
        top: 0; 

        li {
            width: 656px;
        }
    }

    .buttons {
        background: #fff;
        border-radius: 35px;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 35px;
        height: 35px;
        color: $gray;
        font-weight: bold;
        text-align: center;
        line-height: 35px;
        text-decoration: none;
        font-size: 22px;
        transition: 0.3s all;
    }

    .buttons:hover {
        color: #fff;
        background: $gray;
    }

    .next {
        right: 0;
        left: auto;
    }
}

#our-firm-slider {
    padding: 0 0 30px 0;

    .overview {
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        width: 340px;
        left: 0;
        top: 0; 

        li {
            width: 334px;
        }
    }

    .buttons {
        background: transparent;
        border-radius: 35px;
        display: block;
        position: absolute;
        top: 80%;
        left: 0;
        width: 35px;
        height: 35px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        line-height: 35px;
        text-decoration: none;
        font-size: 22px;
        transition: 0.3s all;
    }

    .buttons:hover {
        color: $blue-lighter;
        background: #fff;
    }

    .next {
        right: auto;
        left: 40px;
    }
}