//@import 'framework/skeleton';

// try https://purecss.io/grids/

/************************\

Notes:

removed hablamos espanol menu items (database)
updated footer menu (database)
updated our firm page to use our firm template (database)

\************************/

@import 'legacy/fonts';

@import 'legacy/style';

@import 'partials/global-styles';

@import 'framework/grid';

@import 'partials/tiny-carousel';

.clearfix { 
	*zoom: 1;
}

.clearfix:after { 
	content: '';
	font-size: 0;
	line-height: 0;
	display: block;
	clear: both;
}

.shell {
	width: 960px;
	margin: 0 auto; 
}

//header & nav section
#header {
	position: fixed;
	z-index: 100;
	top: 0 !important;
	left: 0;
	right: 0;

	a {
		font-weight: $light;
	}

	.logo {
		width: 200px;
		display: inline-block;
		position: absolute;
		top: 50%;
		line-height: 0;
	}
}

.header-bottom { 
	font-family: $lato; 
	font-size: 1rem; 
	line-height: 60px; 
	background: #fff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#navigation { 
	float: right; 
	display: inline; 

	> ul > li + li {
		margin-left: 20px;
	}

	> ul > li > a { 
		color: $gray; 
	}

	> ul > li:hover > a, 
	> ul > li.current-menu-item > a {
		color: $blue;
	}
}

.banner-home {
	top: 100px;
}

.pre-nav {
	background: $blue;
	line-height: 40px;

	span {
		margin-left: 20px;
		font-family: $lato;
		font-weight: $light;
	}

	span, a {
		color: #fff;
		font-size: 1rem;
	}

	.shell {
		text-align: right;
	}

}

.element-item {
	width: 23%;
	height: auto;
	padding: 1%;
	line-height: 0;
	
	a {
		position: relative;
		height: 100%;
		display: block;
		background-color: black;
	}

	img {
		width: 240px;
		opacity: 0.7;
		//transition: all 0.3s;
	}

	img:hover {
		//width: 240px;
		opacity: 1;
	}
	
	span {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		width: 100%;
		text-align: center;
		font-size: 1.2rem;
		font-weight: $light;
		letter-spacing: 0.3px;
		pointer-events: none;
	}
}


/************************\
		  HOME
\************************/

.hero-background {
	margin-top: 100px;
	height: 400px;
	position: relative;

	.shell {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.page-home .hero-background {
	background: url(./images-add_to_live_after_dev/jordan-lundy-working.png);
	background-size: cover;
}

.three-descriptors {
	background-color: $blue-lighter;
	background-image: linear-gradient(90deg, transparent 50%, $blue 50%);
	background-size: 100% 100%;

	.columns {
		padding: 3% 5%;
	}

	.columns:nth-child(1) {
		background-color: $blue-lighter;

		h3:before {
			font-family: FontAwesome;
			content: "\f041";
			float: left;
			display: inline-block;
			margin-left: -20px;
		}
	}
	.columns:nth-child(2) {
		background-color: $blue-light;

		h3:before {
			font-family: FontAwesome;
			content: "\f155";
			float: left;
			display: inline-block;
			margin-left: -20px;
		}
	}
	.columns:nth-child(3) {
		background-color: $blue;

		h3:before {
			font-family: FontAwesome;
			content: "\f004";
			float: left;
			display: inline-block;
			margin-left: -30px;
		}
	}
}


/************************\
		 OUR FIRM
\************************/

.page-template-template-our-firm .hero-background {
	background: url(./images-add_to_live_after_dev/leonard-lundy-working.png);
	background-size: cover;
}

.two-descriptors {

	.six.columns.no-padding:nth-child(1) {
		background: url(./images-add_to_live_after_dev/attorney-with-happy-client.png);
		background-size: cover;
		height: 400px;
	}
			
	.six.columns.no-padding:nth-child(2) {
		background-color: $blue-lighter;
		height: 400px;
	}

	.shell {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		height: 400px;

		//clean this up
		.six.columns:nth-child(2) {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.meet-our-founder {
	margin: 40px 0;

	img {
		float: right;
	}
} 

.clients-first-section {
	background-color: $gray-light;


	.four {
		background-color: $blue-lighter;
	}
}

.cta {
	background-color: $blue;
	padding: 20px auto;
	
	button {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

.faq-section {

	.faq:nth-child(odd) {
		background-color: $gray-light;
	}

	.four {
		background-color: $blue-lighter;
	}
}

.logo-carousel {
	background-color: $gray-light;
}
